<table id="example" class="table table-striped table-bordered nowrap mt-5" style="width:100%">
        <thead>
            <tr>
            
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Message</th>
                
                
            </tr>
        </thead>
  
        <tbody> 

            {{#each msg}}
             
              
               
            <tr> 
                <td>{{this.Name}}</td>
                <td>{{this.Phone}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Message}}</td>
                </tr>  
            
           
           {{/each}}
          
            
        </tbody>
    </table>
