
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/stylesheets/signup.css" type="text/css">
<head>
	<title>sign up</title>
<body>
	<div class="loginbox">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs_F5PQxtwk4BDJ1R5GLdvOcVN93yyKzhvMQ&usqp=CAU" class="avatar">
		<h1>Sign Up</h1>
		<form action="/signupaction" method="POST">
			<i class="fa fa-user-o" aria-hidden="true"></i>
			
			<label>Email</label>
			
			<input type="Email" name="Email" placeholder="Enter Email">

			<i class="fa fa-lock" aria-hidden="true"></i>
			<label>Password</label>

			<input type="Password" name="password" placeholder="Enter Password">
			<br>
			<input type="Password" name="password2" placeholder="Confirm Password">
			<br>
			 <a href="#">
			<input type="submit" name="" value="sign in" ></a>
			
			<a href="/signin">login here</a>
			

			
		</form>
	</div>

</body>
</head>
</html>