
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
    
<div class="loginbox">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs_F5PQxtwk4BDJ1R5GLdvOcVN93yyKzhvMQ&usqp=CAU" class="avatar">
		<h2>Login Here</h2>
		<form action="/loginaction" method="POST" role="form" enctype="application/x-www-form-urlencoded">
			<i class="fa fa-user-o" aria-hidden="true"></i>
			
			<label>Email</label>
			
			<input type="Email" name="Email" id="Email" placeholder="Enter Email">

			<i class="fa fa-lock" aria-hidden="true"></i>
			<label>Password</label>

			<input type="Password" name="Password" id="Password" placeholder="Enter Password">
			<br>
			 
			<input type="submit" name="" value="login" >
			
			<a href="/signup">Sign Up</a>

			
		</form>
	</div>

</body>